// import theme after variables are defined
$primaryColor: #f8961d;
@import '../theme-base.scss';

// button
$button-active-color: #da7b07;
$button-hover-color: #f9ac4d;

$button-default-active-text-color: #da7b07;
$button-default-active-border-color: #da7b07;
$button-default-hover-text-color: #f9ac4d;
$button-default-hover-border-color: #f9ac4d;

$button-text-primary-text-color: #e6586a;

// header
$header-bgc: #191919;

$header-popup-bgc: #191919;
$header-popup-item-disabled-color: rgba(255, 255, 255, 0.45);
$header-popup-item-disabled-bgc: #102b45;
$header-popup-item-disabled-hover-color: rgba(255, 255, 255, 0.45);
