* {
  box-sizing: border-box;
}

html,
body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB',
    'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 1.5;
}

input::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  /* 避免占用 input 元素额外的 padding，正常情况下存在 display: none!; 就可以了 */
  right: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 58px;
  user-select: none;
  position: relative;
  color: #fff;
  background: #4237dd;

  &.btn-default {
    background: #fff;
    color: #606266;
    border: 1px solid #dcdfe6;

    &:active {
      color: #409eff;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
  }

  &:active {
    background: #6156ff;
  }

  &.disabled {
    cursor: not-allowed;
    background: #999;
  }
}

.upgrade-tip {
  color: #fff;
  display: block;
  margin-top: 10px;
}

input::-webkit-input-placeholder {
  color: #bdbdbd;
}

@media screen and (min-width: 769px) {
  .btn {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    display: block;
    width: 100%;
    height: 44px;
    margin: 0 auto;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #fff;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}

.m-table-block {
  background-color: #fff;
}

.m-table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;

  .m-table-title {
    line-height: 30px;
    padding: 5px 10px;

  }


}


.m-table-title::after,
.m-table-title::before {
  content: '';
  display: table;
  clear: both;
}

.m-table-slot {
  display: none;
}

.m-table-header {
  overflow: hidden;
}

.m-table.m-table-head {
  user-select: none;
  min-height: 50px;
  background: #f1f1f1
}

.m-table.m-table-head th {
  height: 50px;
  background: #f1f1f1;
  color: #333333;
  font-weight: normal;
  font-size: 14px;
  padding: 0 12px;
}

.m-table-body {
  margin-top: -1px;
  overflow: auto;
}

.m-table-void {
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #7c849a;
}

.m-table-row {
  border-bottom: 1px solid #f1f1f1;

  .m-table-column {
    padding: 15px 12px;
  }
}

.m-table .m-table-column {
  box-sizing: border-box;
  overflow: hidden;

  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  padding: 15px 12px;
}

.m-table .m-table-column.is-center {
  text-align: center;
}

.m-table .m-table-column.is-left {
  text-align: left;
}

.m-table .m-table-column.is-right {
  text-align: right;
}

.m-table .m-table-column .cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.m-table.m-table__border .m-table-column {
  border: none;
}
