* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 58px;
  user-select: none;
  position: relative;
  color: #fff;
  background: #2b008c;
  &:active {
    background: #3d00c8;
  }
  &.disabled {
    background: #999;
  }
}

@media screen and (min-width:1024px) {
  .btn {
    width: 350px;
  }
}

@media screen and (max-width:1023px) {
  .btn {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}
