.btn {
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 24px;
  width: 100%;
  max-width: 340px;
  height: 48px;
  user-select: none;
  position: relative;
  color: var(--button-text-color);
  background-image: var(--button-background-color);
  box-shadow: var(--button-box-shadow);
  transition: background 0.3s ease-in-out;
  &:active {
    opacity: var(--button-active-opcity);
  }
  &:hover {
    opacity: var(--button-hover-opcity);
  }
  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: var(--button-disabled-opcity);
  }
  &.btn-small {
    width: auto;
    min-width: 80px;
    height: 28px;
    line-height: 1;
    padding: 5px 10px;
    font-size: 12px;
  }
  &.btn-middle {
    width: auto;
    min-width: 120px;
    height: 38px;
    line-height: 1;
    padding: 10px;
    font-size: 14px;
    @media screen and (max-width: 320px) {
      min-width: 100px;
    }
  }
  &.btn-dialog-confirm {
    width: auto;
    min-width: 240px;
    height: 38px;
    line-height: 1;
    padding: 12px 10px;
    font-size: 14px;
    @media screen and (max-width: 320px) {
      width: 180px;
      min-width: initial;
    }
  }

}
.btn-default {
  user-select: none;
  color: var(--button-default-text-color);
  border: 2px solid transparent;
  background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: linear-gradient(to right, var(--dashboard-icon-background-color), var(--dashboard-icon-background-color)),
					linear-gradient(104deg, #d6001c, #ee1d4f 42%, #ff6734);
  transition: all 0.1s ease-in-out;
}
.btn-text {
  color: var(--button-text-text-color);
  text-decoration: underline;
  cursor: pointer;
  &.btn-text-strange {
    @media screen and (max-width: 768px) {
      width: auto;
      min-width: 120px;
      background: var(--button-text-stange-background-color);
      color: var(--button-text-stange-text-color) !important;
      text-align: center;
      height: 38px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      padding: 0 10px;
      margin-right: 20px;
    }
  }
  &:hover {
    color: var(--button-text-hover-color);
  }
  &.text-primary {
    color: var(--button-text-primary-text-color);
    &:hover {
      color: var(--button-text-primary-hover-color);
    }
    &.disabled {
      &:hover {
        color: var(--button-text-primary-disabled-hover-color);
      }
    }
  }
  &.icon-btn {
    &:hover {
      opacity: 0.8;
    }
    &.disabled {
      &:hover {
        opacity: 1;
      }
    }
  }
  &.disabled {
    &:hover {
      color: #333;
    }
  }
}
.btn-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--logout-btn-bgc);
  box-shadow:  0 8px 10px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    color: var( --text-default-color);
    transition: color 0.3s ease-out;
  }
  .icon-hover-popover {
    display: none;
    position: absolute;
    padding: 5px 8px;
    font-size: 14px;
    background: var(--table-action-popover-bgc);
    color: #fff;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    max-height: 190px;
    word-break: keep-all;
    white-space: nowrap;
    z-index: 10;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: var(--table-action-popover-bgc);
    }
  }
  &.close{
    background-color:var(--button-close-bgc);
    .iconfont{
      font-weight: 700;
    }
  }
  &:hover {
    .iconfont {
      color: var(--button-icon-hover-color);
    }
    .icon-hover-popover {
      display: block;
    }
  }
  &.disabled {
    cursor: not-allowed;
    background-color: var(--button-icon-disabled-bgc);
    .iconfont {
      color: var(--button-icon-disabled-color);
    }
    &:hover {
      .iconfont {
        color: var(--button-icon-disabled-color);
      }
      .icon-hover-popover {
        display: none;
      }
    }
  }
}
.limit-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  .iconfont {
    font-size: 20px;
    color: var(--device-limit_icon-color);
    font-weight: 500;
    &.active {
      color: var(--primaryColor);
    }
  }
  .hover-popover {
    display: none;
    position: absolute;
    padding: 5px 12px;
    font-size: 12px;
    background: var(--table-action-popover-bgc);
    color: #fff;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    max-height: 190px;
    word-break: keep-all;
    white-space: nowrap;
    z-index: 10;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: var(--table-action-popover-bgc);
    }
  }
  &[disabled],
  &.disabled {
    cursor: not-allowed;
    opacity: var(--button-disabled-opcity);
    &:hover {
      background-color:transparent;
      .hover-popover {
        display: none;
      }
    }
  }
  &:hover {
    background-color: var(--device-limit_icon-hover-bgc);
    .hover-popover {
      display: block;
    }
  }
}
@media screen and (min-width: 769px) {
  .btn {
    min-width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    display: block;
    height: 48px;
    margin: 0 auto;
    max-width: 100%;
    &:hover {
      opacity: 1;
    }
  }
  .btn-icon {
    margin: 0 3px 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      .iconfont {
        color: var(--table-action-icon-color);
      }
      .icon-hover-popover {
        display: none;
      }
    }
    &:active {
      .iconfont {
        color: var(--primaryColor);
      }
    }
  }
  .limit-icon {
    &:hover {
      background-color: transparent;
      .hover-popover {
        display: none;
      }
    }
  }
}
