.header-container {
  .logo-wrap {
    .logo-wrap__logo {
      background: url(../assets/images/customer/demo/demo_logo.png) center
        no-repeat;
      background-size: 100%;
    }
    .offical {
      display: none !important;
    }
  }
}
/************************* 登陆页面*********************/
.login-container {
  .download {
    display: none !important;
  }
  .center-form {
    .logo {
      background: url(../assets/images/customer/demo/demo_logo_text.png)
        no-repeat center;
      background-size: 100%;
    }
  }
}
@media screen and(max-width: 768px) {
  .login-container {
    .small-device-download {
      display: none;
    }
  }
}
/**************************end登陆页面******************/
