@font-face {
  font-family: "iconfont"; /* Project id 4193378 */
  src: url('iconfont.woff2?t=1693304486344') format('woff2');
  font-display: fallback;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_note:before {
  content: "\e6c9";
}

.ic_settings:before {
  content: "\e6c7";
}

.ic_trash:before {
  content: "\e6c8";
}

.ic_qr:before {
  content: "\e6c6";
}

.ic_signal_good:before {
  content: "\e6c3";
}

.ic_signal_bad:before {
  content: "\e6c4";
}

.ic_signal_excellent:before {
  content: "\e6c5";
}

.ic_dropdown_small:before {
  content: "\e6c2";
}

.ic_manager:before {
  content: "\e6c1";
}

.ic_home:before {
  content: "\e6bf";
}

.ic_back_large:before {
  content: "\e6c0";
}

.ic_back:before {
  content: "\e6b6";
}

.ic_online:before {
  content: "\e6b7";
}

.ic_device_throughput:before {
  content: "\e6b8";
}

.ic_connection_quality:before {
  content: "\e6b9";
}

.ic_device_upload:before {
  content: "\e6ba";
}

.ic_help:before {
  content: "\e6bb";
}

.ic_device_download:before {
  content: "\e6bc";
}

.ic_offline:before {
  content: "\e6bd";
}

.ic_check:before {
  content: "\e6be";
}

.ic_close:before {
  content: "\e6b5";
}

.ic_equipment_wireless_disabled:before {
  content: "\e6b4";
}

.ic_equipment_wireless_fair:before {
  content: "\e6af";
}

.ic_equipment_wireless_weak:before {
  content: "\e6b0";
}

.ic_equipment_wired:before {
  content: "\e6b1";
}

.ic_equipment_wired_disabled:before {
  content: "\e6b2";
}

.ic_equipment_wireless_excellent:before {
  content: "\e6b3";
}

.ic_file:before {
  content: "\e6ab";
}

.ic_file_error:before {
  content: "\e6ac";
}

.ic_retract:before {
  content: "\e6ad";
}

.ic_dropdown:before {
  content: "\e6ae";
}

.ic_visible:before {
  content: "\e6a8";
}

.ic_invisible:before {
  content: "\e6a9";
}

.ic_clock:before {
  content: "\e6aa";
}

.ic_more_moblie:before {
  content: "\e6a5";
}

.ic_add:before {
  content: "\e6a6";
}

.a-ic_languages_moblie:before {
  content: "\e6a7";
}

.ic_apple:before {
  content: "\e6a3";
}

.ic_android:before {
  content: "\e6a4";
}

.ic_language:before {
  content: "\e69b";
}

.ic_devices_offline_normal:before {
  content: "\e69d";
}

.ic_devices_guest_normal:before {
  content: "\e69e";
}

.ic_devices_mesh_normal:before {
  content: "\e69f";
}

.ic_devices_mywifi_normal:before {
  content: "\e6a0";
}

.ic_devices_list_normal:before {
  content: "\e6a2";
}

.ic_logout:before {
  content: "\e69a";
}

.ic_reboot:before {
  content: "\e693";
}

.ic_reset:before {
  content: "\e694";
}

.ic_internet_light:before {
  content: "\e695";
}

.ic_question_light:before {
  content: "\e696";
}

.ic_edit2_dark:before {
  content: "\e697";
}

.ic_edit:before {
  content: "\e698";
}

.ic_center:before {
  content: "\e699";
}

.ic_mesh_m6aplus:before {
  content: "\e68e";
}

.ic_mesh_m6s:before {
  content: "\e68f";
}

.ic_mesh_m6a:before {
  content: "\e690";
}

.ic_mesh_m6:before {
  content: "\e691";
}

.ic_mesh_5gcpe:before {
  content: "\e692";
}

.ic_bathroom:before {
  content: "\e68b";
}

.ic_childrenroom:before {
  content: "\e68c";
}

.ic_basement:before {
  content: "\e68d";
}

.ic_utilityroom:before {
  content: "\e683";
}

.ic_lockerroom:before {
  content: "\e684";
}

.ic_gameroom:before {
  content: "\e685";
}

.ic_guestroom:before {
  content: "\e686";
}

.ic_garage:before {
  content: "\e687";
}

.ic_hallway:before {
  content: "\e688";
}

.ic_bedroom:before {
  content: "\e689";
}

.ic_diningroom:before {
  content: "\e68a";
}

.ic_studyroom:before {
  content: "\e67f";
}

.ic_lobby:before {
  content: "\e680";
}

.ic_kitchen:before {
  content: "\e681";
}

.ic_livingroom:before {
  content: "\e682";
}

.ic_limit_website_off:before {
  content: "\e67c";
}

.ic_limit_time_off:before {
  content: "\e67d";
}

.ic_limit_speed_off:before {
  content: "\e67e";
}

.ic_blocklist:before {
  content: "\e67b";
}

.ic_peak_download:before {
  content: "\e672";
}

.ic_download:before {
  content: "\e674";
}

.ic_peak_upload:before {
  content: "\e675";
}

.ic_total_download:before {
  content: "\e677";
}

.ic_total_upload:before {
  content: "\e679";
}

.ic_upload:before {
  content: "\e67a";
}

.ic_advanced_settings_light:before {
  content: "\e66f";
}

.ic_home_light:before {
  content: "\e671";
}

.ic_theme_light:before {
  content: "\e673";
}

.ic_upgrade_firmware_light:before {
  content: "\e676";
}

.ic_home_settings_light:before {
  content: "\e678";
}

