.customized {
  &.header-container {
    &.is-login-nav {
      .right-wrap {
        width: auto;
      }
    }
    .logo-wrap {
      &.light {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text.webp)
            center no-repeat;
          background-size: 100%;
        }
        @media screen and (max-width: 768px) {
          .logo-wrap__logo {
            background: url(../../assets/images/customer/mercku/mercku_logo.png)
              center no-repeat;
            background-size: contain;
          }
        }
      }
      &.dark {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text_dark.png)
            center no-repeat;
          background-size: 100%;
        }
        @media screen and (max-width: 768px) {
          .logo-wrap__logo {
            background: url(../../assets/images/customer/mercku/mercku_logo.png)
              center no-repeat;
            background-size: contain;
          }
        }
      }
      @media (prefers-color-scheme: light) {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text.webp)
            center no-repeat;
          background-size: 100%;
        }
      }
      @media (prefers-color-scheme: dark) {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text_dark.png)
            center no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  /************************* 登陆页面*********************/
  &.login-container {
    background-color: var(--header-nav-hide-background-color);
    .center-form {
      &.light {
        .logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text_light.png)
            no-repeat center;
          background-size: 100%;
        }
      }
      &.dark {
        .logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text_dark.png)
            no-repeat center;
          background-size: 100%;
        }
      }
      @media (prefers-color-scheme: light) {
        .logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text_light.png)
            no-repeat center;
          background-size: 100%;
        }
      }
      @media (prefers-color-scheme: dark) {
        .logo {
          background: url(../../assets/images/customer/mercku/mercku_logo_text_dark.png)
            no-repeat center;
          background-size: 100%;
        }
      }
    }
    .app-logo {
      background: url(../../assets/images/customer/mercku/ic_launcher.png)
        no-repeat center;
      background-size: 100%;
    }
    .download {
      .qr {
        background: url(../../assets/images/customer/mercku/qr.png) no-repeat
          center;
        background-size: 100%;
      }
    }
  }
  /**************************end登陆页面******************/
}
