.customized {
  &.header-container {
    .logo-wrap {
      .logo-wrap__logo {
        background: url(~base/assets/images/customer/startca/startca_logo.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  /************************* 登陆页面*********************/
  &.login-container {
    .center-form {
      .logo {
        background: url(~base/assets/images/customer/startca/startca_logo_text.png) no-repeat center;
        background-size: 100%;
      }
    }
  }

  /**************************end登陆页面******************/
}
