.customized {
  &.header-container {
    &.is-login-nav {
      .right-wrap {
        width: auto;
      }
    }
    .logo-wrap {
      aspect-ratio: 85/30;
      width: 180px;
      &.light {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/netflash/logo_text_light.png)
            center no-repeat;
          background-size: contain;
        }
        @media screen and (max-width: 768px) {
          width: 100px;
          .logo-wrap__logo {
            background: url(../../assets/images/customer/netflash/logo_text_light.png)
              left no-repeat;
            background-size: contain;
          }
        }
      }
      &.dark {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/netflash/logo_text_dark.png)
            center no-repeat;
          background-size: contain;
        }
        @media screen and (max-width: 768px) {
          width: 100px;
          .logo-wrap__logo {
            background: url(../../assets/images/customer/netflash/logo_text_dark.png)
              left no-repeat;
            background-size: contain;
          }
        }
      }
      @media (prefers-color-scheme: light) {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/netflash/logo_text_light.png)
            center no-repeat;
          background-size: 100%;
        }
      }
      @media (prefers-color-scheme: dark) {
        .logo-wrap__logo {
          background: url(../../assets/images/customer/netflash/logo_text_dark.png)
            center no-repeat;
          background-size: 100%;
        }
      }
    }
  }

  /************************* 登陆页面*********************/
  &.login-container {
    background-color: var(--header-nav-hide-background-color);
    .center-form {
      .logo {
        width: 85%;
        aspect-ratio: 85/25;
      }
      &.light {
        .logo {
          background: url(../../assets/images/customer/netflash/logo_text_light.png)
            no-repeat center;
          background-size: contain;
        }
      }
      &.dark {
        .logo {
          background: url(../../assets/images/customer/netflash/logo_text_dark.png)
            no-repeat center;
            background-size: contain;
          }
      }
      @media (prefers-color-scheme: light) {
        .logo {
          background: url(../../assets/images/customer/netflash/logo_text_light.png)
            no-repeat center;
            background-size: contain;
          }
      }
      @media (prefers-color-scheme: dark) {
        .logo {
          background: url(../../assets/images/customer/netflash/logo_text_dark.png)
            no-repeat center;
            background-size: contain;
          }
      }
    }
  }
  /**************************end登陆页面******************/
}
