.header-container {
  .logo-container {
    background: url(../assets/images/cik_logo.png) center no-repeat;
    background-size: 100%;
  }
}

.menu-container {
  .logo-container {
    .logo {
      background: url(../assets/images/cik_logo.png) center no-repeat;
      background-size: 100%;
    }
  }
}

/************************* 登陆页面*********************/
.login-container {
  .center-form {
    .download {
      display: none;
    }
  }
}
@media screen and(max-width: 768px) {
  .login-container {
    .small-device-download {
      display: none;
    }
  }
}
/**************************end登陆页面******************/
