@import "./iconfont/iconfont.css";
@import "./github-markdown.css";

* {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-size: 14px;
  line-height: 1.5;
}
body {
  overflow: hidden;
}
// fix safari placeholder not vertical align
input::-webkit-input-placeholder {
  line-height: normal !important;
}
input::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  /* 避免占用 input 元素额外的 padding，正常情况下存在 display: none!; 就可以了 */
  right: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.btn {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  width: 340px;
  height: 48px;
  user-select: none;
  position: relative;
  color: #fff;
  background: #d6001c;
  &:active {
    background: #ab0016;
  }
  &:hover {
    background: #de3349;
  }
  &[disabled],
  &.disabled {
    cursor: not-allowed;
    background: #b3b3b3;
    border-color: #b3b3b3;
    color: white;
  }
  &.btn-middle {
    width: auto;
    min-width: 120px;
    height: 38px;
    line-height: 1;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 4px;
  }
  &.btn-dialog-confirm {
    width: auto;
    min-width: 240px;
    height: 38px;
    line-height: 1;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 4px;
  }
  &.btn-small {
    width: auto;
    min-width: 80px;
    height: 28px;
    line-height: 1;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
  }
  &.btn-default {
    background: #fff;
    color: #d6001c;
    border: 1px solid #d6001c;

    &:active {
      color: #e6586a;
      border-color: #e6586a;
    }

    &:hover {
      color: #e6586a;
      border-color: #e6586a;
    }

    &[disabled],
    .disabled {
      color: #b2b2b2;
      border-color: #b2b2b2;
      cursor: not-allowed;
    }
  }
}
.btn-text {
  color: #333;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #999;
  }
  &.text-primary {
    color: #d6001c;
    &:hover {
      color: #e6586a;
    }
    &.disabled {
      &:hover {
        color: #d6001c;
      }
    }
  }
  &.icon-btn {
    &:hover {
      opacity: 0.8;
    }
    &.disabled {
      &:hover {
        opacity: 1;
      }
    }
  }
  &.disabled {
    &:hover {
      color: #333;
    }
  }
}

.add-mesh-tip {
  color: #fff;
  display: block;
  margin-top: 10px;
}

input::-webkit-input-placeholder {
  color: #bdbdbd;
}

@media screen and (min-width: 769px) {
  .btn {
    min-width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    display: block;
    width: 100%;
    height: 48px;
    margin: 0 auto;
  }
}

* {
  -webkit-overflow-scrolling: touch;
}
// ::-webkit-scrollbar {
//   width: 7px;
//   height: 7px;
// }

// ::-webkit-scrollbar-track {
//   background-color: #fff;
//   border-radius: 5px;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   background-color: rgba(0, 0, 0, 0.5);
//   border: 1px solid rgba(255, 255, 255, 0.9);
// }

::-ms-clear,
::-ms-reveal {
  display: none;
}

/**=============================S页面级公共样式=======================================**/
.page {
  position: relative;
  flex: auto;
  margin: 0 10%;
  @media screen and (max-width: 1440px) {
    margin: 0 50px;
  }
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;

  .page-header {
    border-bottom: 1px solid #f1f1f1;
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }

  .page-content {
    border-radius: 8px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    .form-item {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  .form-button {
    margin-top: 20px;
  }
}
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  height: 50px;
  img {
    display: none;
  }
  .btn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .page {
    margin: 0;
    padding: 0;

    .page-header {
      font-size: 16px;
      font-weight: bold;
      padding: 16px 20px;
      height: 60px;
    }
    .page-content {
      padding: 20px;
    }
  }

  .form {
    width: 100%;

    .form-item {
      width: 100%;
    }
  }

  .form-button {
    width: 100%;
  }

  .table {
    display: flex;
    flex-direction: column-reverse;
    .empty {
      height: auto;
      flex-direction: column;
      border: none;
      p {
        margin: 0;
      }
      img {
        width: 150px;
        display: block;
      }
      .btn {
        display: block;
      }
    }
  }
}

/**=============================E页面级公共样式=======================================**/
