.header-container {
  &.nav-hide {
    .right-wrap {
      width: auto;
    }
  }
  .logo-wrap {
    .logo-wrap__logo {
      background: url(../assets/images/mercku_logo.png) center no-repeat;
      background-size: 100%;
    }
  }
}

/************************* 登陆页面*********************/
.login-container {
  .download {
    display: block;
  }
  .center-form {
    .logo {
      background: url(../assets/images/mercku_logo_text.png) no-repeat center;
      background-size: 100%;
    }
  }
}
@media screen and(max-width: 768px) {
  .login-container {
    .small-device-download {
      display: flex !important;
    }
  }
}
/**************************end登陆页面******************/
