.header-container {
  &.nav-hide {
    .logo-wrap {
      .logo-wrap__logo {
        width: 210px;
        height: 32px;
        background: url(../assets/images/mercku_logo_text.png) center no-repeat;
        background-size: 100%;
      }
    }
  }
  .logo-wrap {
    .logo-wrap__logo {
      background: url(../assets/images/mercku_logo.png) center no-repeat;
      background-size: 100%;
    }
  }
}

/************************* 登陆页面*********************/
.login-container {
  .center-form {
    padding: 30px 0;
    .download {
      display: block;
    }
  }
}
@media screen and(max-width: 768px) {
  .login-container {
    .small-device-download {
      display: flex !important;
    }
  }
}
/**************************end登陆页面******************/
