@font-face {
  font-family: "iconfont"; /* Project id 3783383 */
  src: url('iconfont.woff2?t=1669105327705') format('woff2'),
       url('iconfont.woff?t=1669105327705') format('woff'),
       url('iconfont.ttf?t=1669105327705') format('truetype'),
       url('iconfont.svg?t=1669105327705#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sanjiaoxing:before {
  content: "\e615";
}

.icon-ic_home_light1:before {
  content: "\e66e";
}

.icon-ic_upgrade_firmware_light1:before {
  content: "\e671";
}

.icon-ic_home_settings_light1:before {
  content: "\e672";
}

.icon-ic_home_selected:before {
  content: "\e654";
}

.icon-ic_advanced_settings_light:before {
  content: "\e656";
}

.icon-ic_home_settings_selected_light:before {
  content: "\e658";
}

.icon-ic_theme_light:before {
  content: "\e65d";
}

.icon-ic_theme_selected_light:before {
  content: "\e65e";
}

.icon-ic_upgrade_firmware_selected_light:before {
  content: "\e660";
}

.icon-ic_homepage_devices_light:before {
  content: "\e663";
}

.icon-ic_homepage_m6a_light:before {
  content: "\e664";
}

.icon-ic_homepage_internet_light:before {
  content: "\e665";
}

.icon-ic_homepage_m6aplus:before {
  content: "\e66a";
}

.icon-ic_homepage_router_light:before {
  content: "\e66c";
}

.icon-ic_advanced_settings_selected_light:before {
  content: "\e64f";
}

