@font-face {
  font-family: "iconfont"; /* Project id 3783383 */
  font-display: swap;
  src:url('iconfont.woff2?t=1688018116859') format('woff2'),
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-img_bridge:before {
  content: "\e6a5";
}

.icon-img_default_empty:before {
  content: "\e69d";
}

.icon-img_m2_add_success:before {
  content: "\e69e";
}

.icon-img_bee_add_success:before {
  content: "\e69f";
}

.icon-img_no_network_access:before {
  content: "\e6a0";
}

.icon-img_m6_add_success:before {
  content: "\e6a1";
}

.icon-img_test_internet_fail:before {
  content: "\e6a2";
}

.icon-img_internet_normal:before {
  content: "\e6a3";
}

.icon-img_default_empty-copy:before {
  content: "\e6a4";
}

.icon-ic_speedtest:before {
  content: "\e69c";
}

.icon-ic_file_error:before {
  content: "\e69a";
}

.icon-ic_file:before {
  content: "\e69b";
}

.icon-ic_enter:before {
  content: "\e699";
}

.icon-ic_edit:before {
  content: "\e698";
}

.icon-ic_guest:before {
  content: "\e695";
}

.icon-ic_apple:before {
  content: "\e696";
}

.icon-ic_android:before {
  content: "\e697";
}

.icon-ic_device_upload:before {
  content: "\e692";
}

.icon-ic_device_download:before {
  content: "\e693";
}

.icon-ic_device_throughput:before {
  content: "\e694";
}

.icon-ic_gateway_m2:before {
  content: "\e683";
}

.icon-ic_node_bee_excellent_n:before {
  content: "\e684";
}

.icon-ic_node_m2_excellent_n:before {
  content: "\e686";
}

.icon-ic_gateway_m6:before {
  content: "\e68c";
}

.icon-ic_node_m6_excellent_n:before {
  content: "\e68d";
}

.icon-ic_node_m6a_excellent_n:before {
  content: "\e68e";
}

.icon-ic_gateway_m6a:before {
  content: "\e68f";
}

.icon-ic_gateway_m6aplus:before {
  content: "\e690";
}

.icon-ic_node_m6aplus_excellent_n:before {
  content: "\e691";
}

.icon-ic_equipment_wireless_excellent:before {
  content: "\e66b";
}

.icon-ic_equipment_wired_disabled:before {
  content: "\e676";
}

.icon-ic_equipment_wired:before {
  content: "\e67c";
}

.icon-ic_equipment_wireless_weak:before {
  content: "\e67f";
}

.icon-ic_equipment_wireless_disabled:before {
  content: "\e682";
}

.icon-ic_equipment_wireless_fair:before {
  content: "\e668";
}

.icon-ic_back:before {
  content: "\e661";
}

.icon-ic_close:before {
  content: "\e667";
}

.icon-ic_router_reset_normal:before {
  content: "\e67a";
}

.icon-ic_total_download:before {
  content: "\e67b";
}

.icon-ic_total_upload:before {
  content: "\e67d";
}

.icon-ic_invisible:before {
  content: "\e67e";
}

.icon-ic_devices_guest_normal:before {
  content: "\e680";
}

.icon-ic_trash_normal:before {
  content: "\e681";
}

.icon-ic_limit_time_off:before {
  content: "\e685";
}

.icon-ic_visible:before {
  content: "\e687";
}

.icon-ic_upload:before {
  content: "\e688";
}

.icon-ic_connection_quality:before {
  content: "\e689";
}

.icon-ic_settings_normal:before {
  content: "\e68a";
}

.icon-ic_limit_speed_off:before {
  content: "\e68b";
}

.icon-ic_router_reboot_normal:before {
  content: "\e657";
}

.icon-ic_devices_mywifi_normal:before {
  content: "\e659";
}

.icon-ic_help:before {
  content: "\e65a";
}

.icon-ic_dropdown_small:before {
  content: "\e65b";
}

.icon-ic_check:before {
  content: "\e65c";
}

.icon-ic_devices_offline_normal:before {
  content: "\e65f";
}

.icon-ic_download:before {
  content: "\e662";
}

.icon-ic_dropdown:before {
  content: "\e666";
}

.icon-ic_peak_upload:before {
  content: "\e669";
}

.icon-ic_clock:before {
  content: "\e66d";
}

.icon-ic_peak_download:before {
  content: "\e66f";
}

.icon-a-ic_languages:before {
  content: "\e670";
}

.icon-ic_manager:before {
  content: "\e673";
}

.icon-ic_more:before {
  content: "\e674";
}

.icon-ic_blocklist_normal:before {
  content: "\e675";
}

.icon-ic_devices_mesh_normal:before {
  content: "\e677";
}

.icon-ic_devices_list_normal:before {
  content: "\e678";
}

.icon-ic_limit_website_off:before {
  content: "\e679";
}

.icon-ic_home_light1:before {
  content: "\e66e";
}

.icon-ic_upgrade_firmware_light1:before {
  content: "\e671";
}

.icon-ic_home_settings_light1:before {
  content: "\e672";
}

.icon-ic_home_selected:before {
  content: "\e654";
}

.icon-ic_advanced_settings_light:before {
  content: "\e656";
}

.icon-ic_home_settings_selected_light:before {
  content: "\e658";
}

.icon-ic_theme_light:before {
  content: "\e65d";
}

.icon-ic_theme_selected_light:before {
  content: "\e65e";
}

.icon-ic_upgrade_firmware_selected_light:before {
  content: "\e660";
}

.icon-ic_homepage_devices_light:before {
  content: "\e663";
}

.icon-ic_homepage_m6a_light:before {
  content: "\e664";
}

.icon-ic_homepage_internet_light:before {
  content: "\e665";
}

.icon-ic_homepage_m6aplus:before {
  content: "\e66a";
}

.icon-ic_homepage_router_light:before {
  content: "\e66c";
}

.icon-ic_advanced_settings_selected_light:before {
  content: "\e64f";
}

