@function hsv2rgb($h, $s, $v) {
  $s: $s / 100;
  $v: $v / 100;

  $r: 0;
  $g: 0;
  $b: 0;
  $_h: floor($h / 60);
  $i: $_h % 6;
  $f: $_h - $i;
  $p: $v * (1 - $s);
  $q: $v * (1 - $f * $s);
  $t: $v * (1 - (1 - $f) * $s);

  @if $i == 0 {
    $r: $v;
    $g: $t;
    $b: $p;
  } @else if $i == 1 {
    $r: $q;
    $g: $v;
    $b: $p;
  } @else if $i == 2 {
    $r: $p;
    $g: $v;
    $b: $t;
  } @else if $i == 3 {
    $r: $p;
    $g: $q;
    $b: $v;
  } @else if $i == 4 {
    $r: $t;
    $g: $p;
    $b: $v;
  } @else if $i == 5 {
    $r: $v;
    $g: $p;
    $b: $q;
  }
  @return rgb(round($r * 255), round($g * 255), round($b * 255));
}
