.btn {
  outline: none;
  border: 1px solid var(--button-border-color);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  width: 340px;
  height: 48px;
  user-select: none;
  position: relative;
  color: var(--button-text-color);
  background: var(--button-background-color);
  &:active {
    background: var(--button-active-color);
  }
  &:hover {
    background: var(--button-hover-color);
  }
  &[disabled],
  &.disabled {
    cursor: not-allowed;
    background: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
    color: var(--button-disabled-text-color);
  }
  &.btn-middle {
    width: auto;
    min-width: 120px;
    height: 38px;
    line-height: 1;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 4px;
    @media screen and (max-width: 320px) {
      min-width: 100px;
    }
  }
  &.btn-dialog-confirm {
    width: auto;
    min-width: 240px;
    height: 38px;
    line-height: 1;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 4px;
    @media screen and (max-width: 320px) {
      width: 200px;
      min-width: initial;
    }
  }
  &.btn-small {
    width: auto;
    min-width: 80px;
    height: 28px;
    line-height: 1;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
  }
  &.btn-default {
    background: var(--button-default-background-color);
    color: var(--button-default-text-color);
    border: 1px solid var(--button-default-border-color);

    &:active {
      color: var(--button-default-active-text-color);
      border-color: var(--button-default-active-border-color);
    }

    &:hover {
      color: var(--button-default-hover-text-color);
      border-color: var(--button-default-hover-border-color);
    }

    &[disabled],
    .disabled {
      color: var(--button-default-disabled-text-color);
      border-color: var(--button-default-disabled-border-color);
      cursor: not-allowed;
    }
  }
}
.btn-text {
  color: var(--button-text-text-color);
  text-decoration: underline;
  cursor: pointer;
  &.btn-text-strange {
    @media screen and (max-width: 768px) {
      width: auto;
      min-width: 120px;
      background: var(--button-text-stange-background-color);
      color: var(--button-text-stange-text-color) !important;
      text-align: center;
      border-radius: 4px;
      height: 38px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      padding: 0 10px;
      margin-right: 20px;
    }
  }
  &:hover {
    color: var(--button-text-hover-color);
  }
  &.text-primary {
    color: var(--button-text-primary-text-color);
    &:hover {
      color: var(--button-text-primary-hover-color);
    }
    &.disabled {
      &:hover {
        color: var(--button-text-primary-disabled-hover-color);
      }
    }
  }
  &.icon-btn {
    &:hover {
      opacity: 0.8;
    }
    &.disabled {
      &:hover {
        opacity: 1;
      }
    }
  }
  &.disabled {
    &:hover {
      color: #333;
    }
  }
}
@media screen and (min-width: 769px) {
  .btn {
    min-width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    display: block;
    width: 100%;
    height: 48px;
    margin: 0 auto;
  }
}
