.customized {
  &.header-container {
    &.nav-hide {
      .right-wrap {
        width: auto;
      }
    }

    .logo-wrap {
      .logo-wrap__logo {
        background: url(../../assets/images/customer/mercku/mercku_logo.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  /************************* 登陆页面*********************/
  &.login-container {
    .center-form {
      .logo {
        background: url(../../assets/images/customer/mercku/mercku_logo_text.png) no-repeat center;
        background-size: 100%;
      }
    }

    .app-logo {
      background: url(../../assets/images/customer/mercku/ic_launcher.jpg) no-repeat center;
      background-size: 100%;
    }

    .download {
      .qr {
        background: url(../../assets/images/customer/mercku/qr.png) no-repeat center;
        background-size: 100%;
      }
    }
  }

  /**************************end登陆页面******************/
}
