.btn {
  outline: none;
  border: 1px solid var(--button-border-color);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  width: 340px;
  height: 48px;
  user-select: none;
  position: relative;
  color: var(--button_text-color);
  background: var(--button-bgc);
  &:active {
    background: var(--button-active-color);
  }
  &:hover {
    background: var(--button-hover-color);
  }
  &[disabled],
  &.disabled {
    cursor: not-allowed;
    background: var(--button-disabled-bgc);
    border-color: var(--button-disabled-border-color);
    color: var(--button-disabled-text-color);
  }
  &.btn-middle {
    width: auto;
    min-width: 120px;
    height: 38px;
    line-height: 1;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    @media screen and (max-width: 320px) {
      min-width: 100px;
    }
  }
  &.btn-dialog-confirm {
    width: auto;
    min-width: 240px;
    height: 38px;
    line-height: 1;
    padding: 12px 10px;
    font-size: 14px;
    border-radius: 4px;
    @media screen and (max-width: 320px) {
      width: 180px;
      min-width: initial;
    }
  }
  &.btn-small {
    width: auto;
    min-width: 80px;
    height: 28px;
    line-height: 1;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
  }
  &.btn-default {
    background: var(--button-default-bgc);
    color: var(--button_default_text-color);
    border: 2px solid var(--button-default-border-color);
    &:active {
      color: var(--button-default-active-text-color);
      border-color: var(--button-default-active-border-color);
    }

    &:hover {
      color: var(--button-default-hover-text-color);
      border-color: var(--button-default-hover-border-color);
    }

    &[disabled],
    .disabled {
      color: var(--button-default-disabled-text-color);
      border-color: var(--button-default-disabled-border-color);
      cursor: not-allowed;
    }
  }
}
.btn-text {
  color: var(--button_text_text-color);
  text-decoration: underline;
  cursor: pointer;
  &.btn-text-strange {
    @media screen and (max-width: 768px) {
      width: auto;
      min-width: 120px;
      background: var(--button-text-stange-bgc);
      color: var(--button_text_stange_text-color) !important;
      text-align: center;
      border-radius: 4px;
      height: 38px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      padding: 0 10px;
      margin-right: 20px;
    }
  }
  &:hover {
    color: var(--button_text_hover-color);
  }
  &.text-primary {
    color: var(--button_text_primary_text-color);
    &:hover {
      color: var(--button_text_primary_hover-color);
    }
    &.disabled {
      &:hover {
        color: var(--button_text_primary_disabled_hover-color);
      }
    }
  }
  &.icon-btn {
    &:hover {
      opacity: 0.8;
    }
    &.disabled {
      &:hover {
        opacity: 1;
      }
    }
  }
  &.disabled {
    &:hover {
      color: #333;
    }
  }
}
.btn-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 10%;
  border-radius: 10px;
  background-color: var(--table_action_icon-bgc);
  box-shadow: 0 5px 10px -5px rgba(51, 51, 51, 0.3);
  cursor: pointer;
  .iconfont {
    font-size: 18px;
    color: var(--table_action_icon-color);
    transition: color 0.3s ease-out;
  }
  .icon-hover-popover {
    display: none;
    position: absolute;
    padding: 0px 8px;
    font-size: 12px;
    background: var(--table_action_popover-bgc);
    color: #fff;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    white-space: nowrap;
    z-index: 10;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-top-color: var(--table_action_popover-bgc);
    }
  }
  &:hover {
    .iconfont {
      color: var(--button_icon_hover-color);
    }
    .icon-hover-popover {
      display: block;
    }
  }
  &.disabled {
    cursor: not-allowed;
    background-color: var(--button_icon_disabled-bgc);
    .iconfont {
      color: var(--button_icon_disabled-color);
    }
    &:hover {
      .iconfont {
        color: var(--button_icon_disabled-color);
      }
      .icon-hover-popover {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 769px) {
  .btn {
    min-width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    display: block;
    width: 100%;
    height: 48px;
    margin: 0 auto;
  }
  .btn-icon {
    margin: 0 3px 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      .iconfont {
        color: var(--table_action_icon-color);
      }
      .icon-hover-popover {
        display: none;
      }
    }
    &:active {
      .iconfont {
        color: var(--primary-color);
      }
    }
  }
}
