html,
body {
  color: rgb(182, 182, 182);
  font-size: 0.14rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: rgb(14, 14, 14);
  width: 100%;
  height: 100%;
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.app-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-top: 0.44rem !important;
}

.animation {
  transition: all 0.5s ease;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.btn {
  border-radius: 50px;
  line-height: 1;
  background: transparent;
  color: rgb(213, 184, 132);
  border: 1px solid rgb(213, 184, 132);
  width: 2rem;
  height: 0.5rem;
  padding: 0 15px;
  font-size: 14px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  -webkit-appearance: none;
  outline: 0;
  &::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    border-color: #000;
    background-color: #000;
    border-radius: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  &:active {
    color: rgb(255, 230, 186);
    border: 1px solid rgb(255, 230, 186);
    &::before {
      opacity: 0.3;
    }
  }
  &[disabled] {
    color: rgb(85, 75, 58);
    border: 1px solid rgb(85, 75, 58);
  }
}

.space {
  height: 0.2rem;
}

.i {
  display: inline-block;
  width: 0.2rem;
  height: 0.16rem;
}

.i.i-open {
  background: url(../assets/images/ic_visible.png);
  background-size: 100%;
}

.i.i-close {
  background: url(../assets/images/ic_invisible.png);
  background-size: 100%;
}

.button-info {
  position: absolute;
  bottom: 0.5rem;
  transform: translateX(-50%);
  left: 50%;
}
