.customized {
  &.header-container {
    .logo-wrap {
      .logo-wrap__logo {
        background: url(~base-assets/images/customer/inverto/inverto_logo.png) center no-repeat;
        background-size: 100%;
        width: 125px;
        height: 35px;
      }
    }
  }

  /************************* 登陆页面*********************/
  &.login-container {
    .center-form {
      .form {
        height: 298px;
      }

      .logo {
        &::before {
          padding-top: 28%;
        }

        // width: 138px !important;
        margin-bottom: 50px;
        background: url(~base-assets/images/customer/inverto/inverto_logo_text.png) no-repeat center;
        background-size: 100%;
      }
    }
  }

  @media screen and(max-width: 768px) {
    &.login-container {
      .center-form {
        .form {
          height: 250px;
        }

        .logo {
          width: 195px;
          margin-bottom: 42px;
          background: url(~base-assetsimages/customer/inverto/inverto_logo_text.png) no-repeat center;
          background-size: 100%;
        }
      }
    }
  }

  /**************************end登陆页面******************/
}
