// import theme after variables are defined
$primaryColor: #f15a29;
@import '../theme-base.scss';

// button
$button-active-color: #d73f0e;
$button-hover-color: #ff6633;

$button-default-text-color: #e83e2d;
$button-default-active-text-color: #cc3300;
$button-default-active-border-color: #cf3728;
$button-default-hover-text-color: #ff4633;
$button-default-hover-border-color: #ff6633;

$button-text-primary-hover-color: #ff4633;

// header
$header-bgc: #102b45;

$header-popup-bgc: #102b45;
$header-popup-item-disabled-color: rgba(255, 255, 255, 0.45);
$header-popup-item-disabled-bgc: #102b45;
$header-popup-item-disabled-hover-color: rgba(255, 255, 255, 0.45);
