.customized {
  &.header {
    .logo-wrap {
      &.light {
        .logo-wrap__logo {
          background: url(../../../assets/images/customer/junet/logo-light.webp)
            left no-repeat;
          background-size: contain;
        }
      }
      &.dark {
        .logo-wrap__logo {
          background: url(../../../assets/images/customer/junet/logo-dark.webp)
            left no-repeat;
          background-size: contain;
        }
      }
      @media screen and (max-width: 768px) {
        width: 100px;
        height: 30px;
      }
      @media not all and (prefers-color-scheme: dark) and (prefers-color-scheme: light) {
        .logo-wrap__logo {
          background: url(../../../assets/images/customer/junet/logo-light.webp)
            left no-repeat;
          background-size: contain;
        }
      }
      @media (prefers-color-scheme: light) {
        .logo-wrap__logo {
          background: url(../../../assets/images/customer/junet/logo-light.webp)
            left no-repeat;
          background-size: contain;
        }
      }
      @media (prefers-color-scheme: dark) {
        .logo-wrap__logo {
          background: url(../../../assets/images/customer/junet/logo-dark.webp)
            left no-repeat;
          background-size: contain;
        }
      }
    }
  }

  /************************* 登陆页面*********************/
  &.login {
    .center-form {
      &.light {
        .logo {
          background: url(../../../assets/images/customer/junet/logo-light.webp)
            center no-repeat;
          background-size: contain;
        }
      }
      &.dark {
        .logo {
          background: url(../../../assets/images/customer/junet/logo-dark.webp)
            center no-repeat;
          background-size: contain;
        }
      }
      @media not all and (prefers-color-scheme: dark) and (prefers-color-scheme: light) {
        .logo {
          background: url(../../../assets/images/customer/junet/logo-light.webp)
            center no-repeat;
          background-size: contain;
        }
      }
      @media (prefers-color-scheme: light) {
        .logo {
          background: url(../../../assets/images/customer/junet/logo-light.webp)
            center no-repeat;
          background-size: contain;
        }
      }
      @media (prefers-color-scheme: dark) {
        .logo {
          background: url(../../../assets/images/customer/junet/logo-dark.webp)
            center no-repeat;
          background-size: contain;
        }
      }
    }
    .app-logo {
      background: url(../../../assets/images/customer/junet/ic_launcher.png)
        center no-repeat;
      background-size: 100%;
    }
    .download {
      .qr {
        background: url(../../../assets/images/customer/junet/qr.png) center
          no-repeat;
        background-size: 100%;
      }
    }
  }
  /**************************end登陆页面******************/
}
