$primaryColor: #d6001c;

// button
$button-text-color: #fff;
$button-background-color: $primaryColor;
$button-border-color: transparent;
$button-active-color: $primaryColor;
$button-hover-color: #de3349;
$button-disabled-background-color: #b3b3b3;
$button-disabled-border-color: #b3b3b3;
$button-disabled-text-color: #fff;

$button-default-background-color: #fff;
$button-default-text-color: $primaryColor;
$button-default-border-color: $primaryColor;
$button-default-active-text-color: #e6586a;
$button-default-active-border-color: #e6586a;
$button-default-hover-text-color: #e6586a;
$button-default-hover-border-color: #e6586a;
$button-default-disabled-text-color: #b2b2b2;
$button-default-disabled-border-color: #b2b2b2;

$button-text-text-color: #333;
$button-text-hover-color: #999;
$button-text-primary-text-color: $primaryColor;
$button-text-primary-hover-color: #e6586a;
$button-text-primary-disabled-hover-color: #999;

// checkbox
$checkbox-border-color: #999;
$checkbox-background-color: #fff;
$checkbox-checked-background-color: #333;
$checkbox-checked-color: #fff;

// dialog
$dialog-shadow-background-color: rgba(0, 0, 0, 0.3);
$dialog-box-shadow-color: rgba(0, 0, 0, 0.1);
$dialog-title-color: #333;
$dialog-content-color: #333;

// select and editableSelect
$select-input-border-color: #e1e1e1;
$select-popup-background-color: #fff;
$select-popup-border-color: #e1e1e1;
$select-item-active-background-color: #f1f1f1;
$select-item-active-color: #333;
$select-item-hover-background-color: #f1f1f1;
$select-item-hover-color: #333;
$select-item-selected-color: $primaryColor;

// form
$form-item-error-color: #ff0000;

// header
$header-background-color: #333;
$header-color: #fff;
