.customized {
  &.header-container {
    &.is-login-nav {
      .right-wrap {
        width: auto;
      }
    }
    .logo-wrap {
      .logo-wrap__logo {
        background: url(../../assets/images/customer/pentanet/logo_pentanet_white.png)
          center no-repeat;
        background-size: 100%;
        height: 37px;
        width: 189px;
      }
    }
  }

  /************************* 登陆页面*********************/
  &.login-container {
    .center-form {
      .logo {
        background: url(../../assets/images/customer/pentanet/logo_pentanet_black.png)
          no-repeat center;
        background-size: 100%;
        width: 340px;
        &::before {
          padding-top: 19.7%;
        }
        @media screen and (max-width: 768px) {
          width: 215px;
          &::before {
            padding-top: 19.53%;
          }
        }
      }
    }

    .app-logo {
      background: url(../../assets/images/customer/pentanet/ic_launcher.png)
        no-repeat center;
      background-size: 100%;
      padding: 6px;
      background-color: #fff;
    }

    .download {
      .qr {
        background: url(../../assets/images/customer/pentanet/qr.png) no-repeat
          center;
        background-size: 100%;
      }
    }
  }
  /**************************end登陆页面******************/
}
/******************deshboard页面背景图片***********/
.dashboard {
  .net-info {
    background: url(../../assets/images/customer/pentanet/dashboard_banner_bg.jpg)
      no-repeat center !important;

    @media screen and (max-width: 768px) {
      background: url(../../assets/images/customer/pentanet/dashboard_banner_bg_mobile.jpg)
        no-repeat center !important;
    }
  }
}
/******************deshboard页面背景图片***********/
